/* src/styles/Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4; /* Color de fondo suave */
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home-header {
  text-align: center;
  margin-bottom: 40px;
}

.home-header h1 {
  font-size: 2.5rem;
  color: #333; /* Color del texto */
}

.home-header p {
  font-size: 1.2rem;
  color: #666; /* Color del texto secundario */
}

.home-content {
  text-align: center;
}

.home-content h2 {
  font-size: 2rem;
  color: #333; /* Color del texto */
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1rem;
  color: #555; /* Color del texto secundario */
}

.home-buttons {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button {
  background-color: #007bff; /* Color azul para el botón de login */
}

.register-button {
  background-color: #28a745; /* Color verde para el botón de registro */
}

.button:hover {
  opacity: 0.8; /* Efecto de hover */
}

/* Agregar un poco de espaciado */
@media (max-width: 600px) {
  .home-header h1 {
    font-size: 2rem;
  }

  .home-header p,
  .home-content h2,
  .home-content p {
    font-size: 0.9rem;
  }
}