.inversiones-container form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre los grupos de inputs */
}

.input-group {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px); /* Tres inputs por fila */
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.input-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.input-group input:focus {
  outline: none;
  border-color: #4CAF50;
}
